{% extends "base.html" %} {% block title %}Add Country{% endblock %} {% block
content %}
<h1>Add a country</h1>
<form method="post" action="{{ url_for('create_item') }}">
  <!-- form fields here -->

  <!-- Form to create a new item, posts to /add -->
  <form action="/add" method="POST">
    <input type="text" name="country" placeholder="Country" required />
    <input type="text" name="continent" placeholder="Continent" required />
    <input
      type="text"
      name="capital_city"
      placeholder="Capital City"
      required
    />
    <input type="number" name="population" placeholder="Population" required />
    <input type="text" name="language" placeholder="Language" required />
    <input type="text" name="currency" placeholder="Currency" required />
    <input
      type="text"
      name="country_code"
      placeholder="2 Digit Country Code"
      required
    />
    <button type="submit" class="btn btn-primary">Add Country</button>
  </form>
</form>
{% endblock %}
