<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Countries</title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="country" placeholder="Country" required />
      <input type="text" name="continent" placeholder="Continent" required />
      <input
        type="text"
        name="capital_city"
        placeholder="Capital City"
        required
      />
      <input
        type="number"
        name="population"
        placeholder="Population"
        required
      />
      <input type="text" name="language" placeholder="Language" required />
      <input type="text" name="currency" placeholder="Currency" required />
      <input type="text" name="map" placeholder="Map" required />
      <input type="text" name="flag" placeholder="Flag" required />
    </form>
  </body>
</html>
