{% extends "base.html" %} {% block title %}Add Country{% endblock %} {% block
content %}
<h1>Add a country</h1>

<form method="POST" action="{{ url_for('create_item') }}">
  <div class="mb-3">
    <label class="form-label">Country</label>
    <input
      type="text"
      name="country"
      placeholder="eg: 'Australia'"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Continent</label>
    <input
      type="text"
      name="continent"
      placeholder="eg: 'Africa'"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Capital City</label>
    <input
      type="text"
      name="capital_city"
      placeholder="eg: 'Canberra'"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Population</label>
    <input
      type="number"
      name="population"
      placeholder="eg: '5930456'"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Language</label>
    <input
      type="text"
      name="language"
      placeholder="eg: 'English'"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Currency</label>
    <input
      type="text"
      name="currency"
      placeholder="eg: 'USD'"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">2-Digit Country Code - Find your country's country code at <a link href="https://flagsapi.com/" target="_blank">Flags API</a>.</label>
    <input
      type="text"
      name="country_code"
      placeholder="eg: 'AU'"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Add Country</button>
</form>
{% endblock %}
