{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1>Welcome to CountriesDB</h1>

<!-- Add your page-specific content here -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Countries DB</title>
  </head>
  <body>
    <!-- Display any message passed from the backend -->
    {% if message %}
    <p>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <strong>{{ message }}</strong><br /><br />
      {% endfor %} {% endif %} {% endwith %}
      <strong>{{ message }}</strong>
    </p>
    {% endif %}

    <!-- This will later display items from the database -->
    <ul>
      {% for country in countries %}
      <li>
        {{country['country']}}, {{country['continent']}},
        {{country['capital_city']}}
      </li>
      {% endfor %}
    </ul>

    </form>
  </body>
</html>

{% endblock %}
