{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1>Welcome to CountriesDB</h1>
<!-- Display any message passed from the backend -->

<div class="row justify-content-start">
  {% for country in countries %}
  <div class="col-md-6 col-lg-3 mb-4">
    <div class="card" style="width: 100%">
      <img
        src="https://flagsapi.com/{{ country['country_code'] }}/flat/64.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 50px">
          {{ country.country }}
        </h5>
        <p class="card-text">
          Continent: {{ country.continent }} <br />
          Capital City: {{ country.capital_city }} <br />
          Country Code: {{ country.country_code }} <br />
          Population: {{ country.population }} <br />
          Language: {{ country.language }} <br />
          Currency: {{ country.currency }}
        </p>
        <a href="{{ url_for('view', id=country.id) }}" class="btn btn-primary"
          >View</a
        >
      </div>

      <img
        src="{{ url_for('static', filename='maps/'~ country['country_code'] ~ '/1024.png') }}"
        class="card-img-bottom"
        alt="Country Flag"
      />
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
