{% extends "base.html" %} {% block title %}View Country{% endblock %} {% block
content %}

<h1>Viewing {{ country.country }}</h1>

<div class="col mb-4">
  <div class="card" style="width: 18rem">
    <img
      src="https://flagsapi.com/{{ country.country_code }}/flat/64.png"
      class="card-img-top"
      alt="Flag"
    />

    <div class="card-body">
      <h5 class="card-title">{{ country.country }}</h5>
      <p class="card-text">
        {{ country.continent }}, {{ country.capital_city }}
      </p>

      <!-- Edit button -->
      <a
        href="{{ url_for('update_item', id=country.id) }}"
        class="btn btn-warning"
        style="margin-right: 120px"
      >
        Edit
      </a>

      <!-- Delete button triggers modal -->
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#confirmDeleteModal"
      >
        Delete
      </button>
    </div>

    <img
      src="{{ url_for('static', filename='maps/' ~ country.country_code ~ '/1024.png') }}"
      class="card-img-bottom"
      alt="Country Map"
    />
  </div>
</div>

<!-- DELETE CONFIRMATION MODAL -->
<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">
          Delete {{ country.country }}?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete this country?
        <br />This action cannot be undone.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

        <!-- Delete form -->
        <form
          action="{{ url_for('delete_item', id=country.id) }}"
          method="POST"
        >
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
